nav, ul, li {
  display: inline;
  width: auto;
  position: fixed;
  padding: 5px 6px;
  margin: 3px 4px;
  background-color: #CBE7FF;
  color: #8EA4B8;
  border: #97CAF7;
}



























/* nav ul, nav li {
  background-color: #3289CA;
  color: #000;
  font-family: 'Monospace', sans-serif;
  font-varient: small-caps;
  font-weight: 400;
  font-size: 13px;
  display: inline-block;
  width: auto;
  height: 50px;
  a:link: #000;
  a:visited: #004;
  position: relative;
  float: center;
  z-index: 1;
}

p { 
  color: black;
  width: auto;
}

ul {
  color: grey;
  width: auto;
}

ol {
  color: grey;
}

h1 {
  text-weight: bold;
  color: grey;
}

header {
  text-weight: bold;
  color: black;
}

body {
  color: black;
}

footer {
  background-color: #3289CA;
  color: #000;
  font-family: 'Monospace', sans-serif;
  font-varient: small-caps;
  font-weight: 400;
  font-size: 13px;
  display: inline-block;
  width: 50px;
  a:link: #000;
  a:visited: #004;
  position: relative;
  z-index: 1;
}
*/
